.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.active:hover,.active:active{
    color: #ecfbff;
    background: rgb(40, 141, 196);
}

.gauge{
    min-width: 320px;

    margin: 5px 0px;
    text-align: center;
}

.ext{
    margin: 5px;
}

.btn-tag{
    text-align: center;
    color: #ecfbff;
    background: rgb(1,0,138);

    border-radius: 20px;
    outline: none !important;

    margin-top: 30px;
}

.btn-tag:hover, .btn-tag:active, .btn-tag:focus{
    color: #ecfbff;
}

.on{
    background-color: rgb(40, 141, 196);
}


.bg-tag{
    background-color: rgb(1,0,138)!important;
}

.bg-tag-light{
    background-color: #ecfbff;
}


.start{
    height: 100px;
    color: #ecfbff;
    text-align: center;
    border-radius: 10px;
}
.start:active{
    background-color: rgb(40, 141, 196);
}
.delete{
    height: 100px;
    color: #ecfbff;
    text-align: center;
    border-radius: 10px;
    background: #B22222;
}
.delete:active{
    background-color: #CD5C5C;
}
.start-mini{
    text-align: center;
    color: #ecfbff;
    background: rgb(1,0,138);
    min-height: 40px;
    height: 40px;
    max-width:120px;
    margin:0px 0px;
}
.start-mini:active{
    background-color: rgb(40, 141, 196);
}

.delete-mini
{
    text-align: center;
    color: #ecfbff;
    min-height: 40px;
    height: 40px;
    max-width:120px;
    margin:0px 0px;
    background: #B22222;
}

.delete-mini:active
{
    background-color:#CD5C5C;
}