<!DOCTYPE html>
{%load static%}

<html>

    <head >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
        <title>Forchinator</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/input.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap4-toggle.min.css'%}">

        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery-ui.min.js'%}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'assets/js/bootstrap4-toggle.min.js'%}"></script>

        <script src="{% static 'assets/js/forkinator.js'%}"></script>
        
        
    </head>

    <body class="bg-tag-light">
        
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top bg-tag text-center">
            <div class="container-fluid"><a class="navbar-brand" href="/index">TAG</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="/dashboard">Dashboard</a></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                      <li role="presentation" class="nav-item"><a class="nav-link active" href="/login">LogIn</a></li>
                      <li role="presentation" class="nav-item"><a class="nav-link active" href="/logout">LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <script>
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');




        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        </script>
        
        <div class="container-fluid" style="margin-top: 80px;">
        
            <div class="row">     
                <div class="col-md-3" >
                    <div style="width: 94%; margin-left: 3%;">
                        <div class="row">
                            <div class="col">
                                <label for="drop-routines" style="margin-top: 20px;">Choose  the Routine to Edit</label>
                                <select id="drop-routines" class="form-control" >
                                    <option id="0">Select a Routine</option>
                                    
                                </select>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <label for="routine-name">Routine Name</label>
                                <input type="text" style="width: 100%;" id="routine-name">
                            </div>
                        </div>
    
    
                        <div class="row">
                            <div class="col">
                                <button id="save-routine" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="addRoutine()">Add Routine</button>
                            </div>
                        </div>
                        
    
                        
                        
                        <div class="row">
                            <div class="col">
                                <label hidden for="homing" style="margin-top: 20px;">Homing</label>
                                <input hidden type="number" min="0" max="100" value="0" id="homing" style="width: 100%; font-size: 1.5em;"></input>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <button id="try-routine" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="tryRoutine()">Load Routine</button>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <button id="save-routine" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="saveRoutine()">Save Routine</button>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col">
                                <button id="delete-routine" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="deleteRoutine()">Delete Routine</button>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-3">
                    <div style="width: 94%; margin-left: 3%;">
                        <div class="row">
                            <div class="col">
                                <label for="drop_actions" style="margin-top: 20px;">Add an Action to the Routine</label>
                                <select id="drop_actions" class="form-control">
                                    <option value="" selected>Select an Action</option> 
                                </select>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <button id="new-action" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="addAction('NewAction')">New Action</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="action--list" style="margin-top: 20px;">List of Actions:</label>
                                <ul id="actions-list" class="list-group" style="width: 100%;">                        
                                </ul> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button id="remove-last" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="removeLast()">Remove Last</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                <form id="action-form" style="width: 94%; margin-left: 3%;">
                    <div class="row">
                        <label for="name">Action Name</label>
                        <input type="text" style="width: 100%" id="name">
                    </div>
                    

                    <div class="row" >
                            <label for="motor1">Motor One Steps</label>
                            <input type="number" min="0" max="25600" value="0" id="motor1" style="width: 100%" onchange="sendMotorChange()"></input>
                    </div>
        
                    <div class="row">
                        <label for="motor2">Motor Two Steps</label>
                        <input type="number" min="0" max="6400" value="0" id="motor2" style="width: 100%" onchange="sendMotorChange()"></input>
                    </div>
    
                    <div class="row">
                        <label for="motor3">Motor Three Steps</label>
                        <input type="number" min="0" max="32000" value="0" id="motor3" style="width: 100%" onchange="sendMotorChange()"></input>
                    </div>
    
                    <div class="row">
                        <label for="motor4">Motor Four Steps</label>
                        <input type="number" min="0" max="16000" value="0" id="motor4" style="width: 100%" onchange="sendMotorChange()"></input>
                    </div>

    
                    <div class="row">
                        <label for="speed">Speed</label>
                        <input type="number" min="0" max="100" value="0" id="speed" style="width: 100%"></input>
                    </div>
    
                    <div class="row">
                        <label for="startup_delay">Delay</label>
                        <input type="number" min="0" max="10000" value="0" id="startup_delay" style="width: 100%"></input>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <div><label for="sensor1_hold" style="vertical-align: top;">Wait 1</label></div>
                            <input type="checkbox" data-toggle="toggle" id="sensor1_hold" onchange="toggle(this)">
                        </div>
    
                        <div class="col">
                            <div><label for="sensor2_hold" style="vertical-align: top;" >Wait 2</label></div>
                            <input type="checkbox" data-toggle="toggle" id="sensor2_hold" onchange="toggle(this)">
                        </div>
    
                        <div class="col">
                            <div><label for="ev_succhiare" style="vertical-align: top;">EV 1</label></div>
                            <input type="checkbox" data-toggle="toggle" id="ev_succhiare" onchange="toggle(this)">
                        </div>
    
                        <div class="col">
                            <div><label for="ev_girare" style="vertical-align: top;" >EV 2</label></div>
                            <input type="checkbox" data-toggle="toggle" id="ev_girare" onchange="toggle(this)">
                        </div>
                    </div>
                    
                </form>

                <div style="width: 94%; margin-left: 3%;">
                    <div class="row">
                        <button id="try-action" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="tryAction()">Try Action</button>
                    </div>
    
                    <div class="row">
                        <button id="save-action" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="saveAction()">Save Action</button>
                    </div>

                    <div class="row">
                        <button id="delete-action" class="btn btn-tag" type="button" style="width: 100%; font-size: 1.25em" onclick="deleteAction()">Delete Action</button>
                    </div>
                </div>

                    
                
                </div>

                
            </div>
        </div>

        

        

        


        
        <script>
            $( function() {
                $( "#actions-list" ).sortable();
                $( "#actions-list" ).disableSelection();
            } );

            pageSetup();
        </script>


        

        <div class="container-fluid" style="margin-bottom: 100px;">
            <div class="row">
                
            </div>
        </div>
        

    </body>
</html>
